<div class="container__bigcard">
    <div class="bigcard__photo">
        <img src="https://images.unsplash.com/photo-1661961112835-ca6f5811d2af?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80" alt="Foto de notebook">
    </div>
    <div class="bigcard__title">
        <h1>Windows 11 - Opnião dos usuários</h1>
    </div>
    <div class="bigcard__description">
        <p>O sistema operacional da Microsoft foi lançado no ano de 2022 e nem todos os usuários desejam migrar</p>
    </div>
</div>