<div class="container__small-card">

    <div class="small-card-content">

        <div class="small-card__photo">
            <img src="https://images.unsplash.com/photo-1664574653790-cee0e10a4242?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
        </div>
        
        <div class="small-card__title">
            <h2>Como ser mais produtivo com Windows</h2>
        
        </div>
    </div>
    <div class="container__small-card__separator">
        <hr>
    </div>
</div>
